.all-choices-container {
  position: relative;

  .switch-input {
    opacity: 0;
    position: absolute;
  }
}

.all-choices-remove-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background:#f44336;
  color: #fff;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0s ease 0.3s;

  &.show {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s ease;
  }

  > div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.2rem;
    font-size: 1.2rem;
  }
}

.all-choices-sort-button-container {
  padding: 1rem;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}

.all-choices-list-item {
  display: flex;
  padding: 2px 0;
}

.allChoicesListItem {
  * {
    pointer-events: none;
  }
  a {
    pointer-events: auto;
  }
}

.button-like {
  text-align: center;
  overflow: hidden;
  width: 72px;
  min-width: 72px;
  height: 72px;
  padding: 12px;
  border-radius: 5px;
  background: rgb(11,41,86);
  color: rgb(255,255,255);
}

.secondary-text {
  color: rgba(0, 0, 0, 0.54);
  padding: 0.3rem 3rem 0 1rem;
}

.secondary-text,
.MuiTooltip-tooltip {
  > div {
    display: inline;
    * {
      margin: 0;
    }
  }
}

.all-choices-clear-filters-btn {
  text-align: center;
  padding: 1rem;
}

@media screen and (max-width: 39.9375em) {
  .secondary-text {
    padding: 0 1rem;
  }
}

@keyframes flyUp {
  0% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  to {
    opacity: 0;
    transform: translate3d(72px, -700px, 0);
  }
}

.flyUp {
  animation-name: flyUp;
  animation-duration: 0.75s;
}
