.app-header {
  padding: 1rem 0;
  svg {
    width: 200px;
  }
}
.quickstrip-more-container {
  position: relative;
}

.quickstrip-more-absolute-items {
  display: inline-block;
  position: absolute;
  right: 0;
  top: -25px;
  cursor: pointer;
  button {
    vertical-align: top;
    padding: 2px 8px;
    margin-right: 5px;
  }
  svg {
    margin-top: -0.6rem;
  }
}

.save-and-exit-button-container {
  display: inline-block;
  position: absolute;
  left: 100px;
  top: 100px;
  button {
    color: #FFF;
    border-color: #0b2956;
    background-color: #0b2956 !important;
  }
}

@media screen and (max-width: 1170px) {
  .save-and-exit-button-container {
    left: 50px;
  }
}

@media screen and (max-width: 1070px) {
  .save-and-exit-button-container {
    left: 10px;
  }
}

@media screen and (max-width: 1020px) {
  .save-and-exit-button-container {
    top: -45px;
    left: 0;
  }
  #instructionsId {
    margin-bottom: 4rem;
  }
}