.holding-move-to-quickstrip-text,
.holding-add-button-text {
  position: absolute;
  margin-top: 1rem;
  margin-left: 1rem;
  a {
    color: #0b2956;
  }
}
.holding-move-to-quickstrip-text {
  margin-top: 10rem;
}