.myo {
  height: calc(100% - 2rem);
  .myo-button-list {
    display: flex;
    height: 12rem;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
  }
}
.myo-dialog {
  .myo-switch {
    margin: 8px 0 !important;
    justify-content: space-between;
    display: flex !important;
    input {
      opacity: 0;
      position: absolute;
    }
  }
  .myo-header {
    text-align: center;
    padding-bottom: 0;

    h2 {
      position: relative;
      button {
        position: absolute;
        right: 0;
        top: -8px;
      }
    }
  }
  .actions-container {
    margin: 1rem 0;
    display: flex;
    justify-content: flex-end;
  }
  .button {
    margin-top: 8px;
    margin-right: 8px;
    width: 120px;
  }
  .flex-center {
    display: flex;
    justify-content: center;
  }
  .demo-quickstrip-item {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    font-size: 16px;
    border: 0;
    background: rgb(11, 41, 86);
    color: rgb(255, 255, 255);
    width: 96px;
    height: 96px;
    text-align: center;
    border-radius: 5px;
    margin-top: 8px;
  }
  .input-container {
    margin-top: 16px;
    margin-bottom: 8px;
  }
}
