.myo {
  .myo-switch {
    margin: 8px 0 !important;
    justify-content: space-between;
    display: flex !important;
    input {
      opacity: 0;
      position: absolute;
    }
  }
  .myo-form {
    padding-top: 0;
    > div:first-child {
      margin-top: 0;
    }
  }
  .myo-create-btn-container {
    text-align: right;
    margin: 16px 0 8px;
  }
}