.more-panel-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 11px;
  .more-panel-droppable {
    width: 72px;
    height: 72px !important;
    position: relative;
    padding: 0 !important;
    margin-right: 6px;
    &:last-child {
      margin-right: 0;
    }
    &:after {
      content: "";
      position: absolute;
      pointer-events: none;
      box-sizing: border-box;
      font-size: 12px;
      border: 1px dashed black;
      min-width: 72px;
      min-height: 72px;
      width: 72px;
      height: 72px;
      text-align: center;
      border-radius: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
    }
    &.show-final {
      pointer-events: none;
      &:after {
        border-color: transparent;
      }
      .spacer-style {
        border-color: transparent;
      }
    }
  }
}

.more-panel {
  min-height: 290px;
  max-height: 400px;
  width: 786px;
  margin-left: auto;
  margin-bottom: 27px;
  border: 1px solid rgba(0, 0, 0, 0.87);
  overflow-y: scroll;
  padding: 5px;
  .static-row {
    display: flex;
    flex-direction: row;
    margin-bottom: 11px;
    h3 {
      margin: 5px 0;
    }
    .button {
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
      padding: 8px;
      border-radius: 5px;
      background: #3f5e82;
      color: white;
      margin-top: 10px;
      font-size: 14px;
      font-weight: bold;
    }
    > div {
      flex: 1;
      margin-left: 5px;
    }
    .tell-me-more-box {
      background: rgb(242,242,242);
      border: 1px solid rgba(0, 0, 0, 0.87);
      margin-left: 0;
      padding: 5px;
      ul {
        margin: 5px 0 10px 0;
        padding-left: 30px;
        li {
          text-decoration: underline;
          font-size: 14px;
        }
      }
    }
  }
}