.quickstrip-wrapper {
  display: flex;
  justify-content: flex-end;
}

.quickstrip-container {
  position: relative;
  display: flex;
  flex-direction: row;
  border: 5px solid rgb(11,41,86);
  .logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    svg {
      width: 100px;
      height: auto;
    }
  }
}

.quickstrip-droppable,
.quickstrip-more-spacer-droppable {
  flex: 1;
  &:after {
    content: "Drop Your Next Button Choice Here";
    box-sizing: border-box;
    font-size: 12px;
    border: 1px dashed black;
    min-width: 72px;
    min-height: 72px;
    width: 72px;
    height: 72px;
    text-align: center;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  &.show-final {
    pointer-events: none;
    &:after {
      display: none;
    }
    .spacer-style {
      border-color: transparent;
    }
  }
}

.quickstrip-more-spacer-droppable {
  &:after {
    content: "Add More Spacers Here";
  }
}

.quickstrip-more-btns {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 6px;
  width: 240px;
  height: 84px;
  overflow: hidden;
  font-size: 12px;
  > div:not(.quickstrip-more-spacer-droppable) {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    overflow: hidden;
    width: 72px;
    min-width: 72px;
    height: 31px;
    user-select: none;
    padding: 12px;
    margin: 0 6px 0 0;
    border-radius: 5px;
    background: rgb(63,94,130);
    color: rgb(255,255,255);
    &:nth-child(odd) {
      margin-bottom: 10px;
    }
    &:first-child {
      height: 72px;
      margin-bottom: 0;
    }
    &.save {
      background: rgb(168,169,172);
    }
    &.empty {
      background: rgb(177,189,205);
    }
    &.small-text {
      font-size: 10px;
    }
  }
  .quickstrip-more-spacer-droppable {
    padding: 0 !important;
    overflow: visible !important;
    margin-right: 6px;
  }
}

.more-btn {
  &.active {
    background: rgb(56,127,75) !important;
  }
}

.quikstrip-close-icon {
  padding: 8px 0;
  svg {
    height: 35px;
    width: 35px;
  }
}

.quickstrip-scale-handle {
  position: absolute;
  left: 0;
  top: 0;
  padding: 0 10px 10px 0;
  cursor: pointer;
  svg {
    transform: rotate(-45deg) translateY(-4px);
    color: #405E81;
  }
}
