#save {
  background: lightgrey;
  position: absolute;
  left: 0;
  top: 0;
  width: 400px;
  height: 400px;
  text-align: center;
  margin: 0;
  button {
    color: #FFF;
    border-color: #0b2956;
    background-color: #0b2956 !important;
    margin: .5rem auto 1rem;
  }
  h1 {
    background: white;
  }
  iframe {
    margin-top: 1rem;
  }
  p {
    text-align: left;
    padding-left: 20px;
  }
}

@media screen and (max-width: 1240px) {
  #save {
    top: -440px;
  }
  #instructionsId {
    margin-bottom: calc(1rem + 440px);
  }
}
