.save-container {
  position: absolute;
  left: 0;
  top: 0;
  width: 250px;
  text-align: center;
  margin: 0;
  h1 {
    text-align: left;
  }
  iframe {
    border: 1px solid rgba(0, 0, 0, 0.87);
    margin-bottom: 5px;
  }
}
#save {
  margin-top: 10px;
  .buttons-container {
    background: lightgrey;
    padding: .5rem;
    button {
      display: block;
      border-width: 2px;
      border-color: #0b2956;
      width: 100%;
      &:first-child {
        background-color: #fff !important;
        color: #0b2956;
        margin-bottom: 10px;
      }
      &:last-child {
        background-color: #0b2956 !important;
        color: #FFF;
      }
    }
  }
  p {
    text-align: left;
    padding-left: 10px;
    margin: 10px 0 0;
  }
}

@media screen and (max-width: 1088px) {
  .save-container {
    top: -368px;
  }
  #instructionsId {
    margin-bottom: calc(1rem + 368px);
  }
}
