.spacers {
  height: calc(100% - 2rem);
  background-color: lightgrey !important;

  > h1:first-child {
    background-color: white;
  }

  .spacer-container {
    display: flex;
    padding: 8px;
    overflow: hidden;
    height: 112px;
    justify-content: center;

    > span:first-child {
      display: inline-block;
      width: 5rem;
      padding-top: 1.5rem;
      text-align: center;
    }
  }
}
.spacer-style {
  border: 1px dashed black;
  background-color: white !important;
  width: 16px !important;
  min-width: 16px !important;
  color: white !important;
  padding: 0 !important;

  &.visible-spacer-style {
    background-color: #a8a9ac !important;
    color: #a8a9ac !important;
  }

  &.is-dragging {
    color: lightgreen !important;
    background-color: lightgreen !important;
  }
}
